#  +--------------------------------+
#  |  DOCUMENT_PLATFORM_POSTGRESQL  |
#  +--------------------------------+
DB_USERNAME=postgres
DB_PASSWORD=root
DB_BASE=postgresql
DB_NAME=document_management_service_app
DB_HOST=document-management-service-db
DB_PORT=5432

#  +---------------------------+
#  |  DOCUMENT_PLATFORM_MONGO  |
#  +---------------------------+
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=documents

#  +---------------------------+
#  |  DOCUMENT_PLATFORM_MINIO  |
#  +---------------------------+
MINIO_URL=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=documents